*{
	font-family: cursive;
}

.img1{
			padding-top: 20px;
}

.row{
			padding-top: 60px;
}
 
.rules{
			width: 650px;
			margin: auto;

}

#txt1, #txt2{
			
			font-size: 40px;
			
}
.joueur{
			font-size: 15px;
}
#txt1{
			padding-top: 50px;
}

.row img:hover {
			background-color: #f2f2f2;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    .rules{
			width: auto;
			margin: auto;

}
	.joueur{
			font-size: 25px;
}
	h1{
			font-size: 55px;
	}
}