*{
	font-family: cursive;
}

.img1{
			padding-top: 20px;
}

.row{
			padding-top: 60px;
}
 
.rules{
			width: 650px;
			margin: auto;

}

#txt1{
			padding-top: 50px;
			font-size: 50px;
			
}
.joueur{
			font-size: 15px;
}